<h1>Collaborative Book Writing</h1>

<h2>Dashboard</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Authors</th>
    <th>Version</th>
    <th>Updated</th>
    <th>Created</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= raw truncate book.abstract, length: 80 %></td>
        <td><%= book.author_names.join ", " %></td>
        <td><%= book.versions.length + 1 %></td>
        <td><%= book.updated_at %></td>
        <td><%= book.created_at %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td>
          <% if book.users.length > 1 %>
              <%= link_to 'Leave Book',  revoke_access_path(book.user_authorship(current_user)), :method => :post %>
          <% else %>
              <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
  <% end %>

</table>

<br />

<%= link_to 'New Book', new_book_path %>
