<ol class="breadcrumb">
  <li class="active"><%= link_to 'Home ', root_path %></li>
</ol><br>
<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
    <% end %>
<% end %>
<div class="section">
  <h2><%= image_tag "book_icon.jpg" %><span style="padding-left: 10px">Your Books</span></h2>
</div>
<button type="button" class="btn btn-success fltrt"><i class="icon-plus icon-white" ></i>
  <%= link_to 'New Book', new_book_path %>
</button><br>
<div class="con-table">
  <table class="table-bordered table-hover">
  <thead><tr>
    <th>Title</th>
    <th>Authors</th>
    <th>Version</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr></thead>
  <tbody>
  <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= render 'books/author_gravatar', :authors => book.authors, :max_authors => 3 %></td>
        <td><%= book.versions.length + 1 %></td>
        <td><%= "#{time_ago_in_words(book.updated_at)} ago" %></td>
        <td class="rt-book">
          <%= link_to '<i class="icon-book icon-white"></i> Show'.html_safe, book,:class => 'btn btn-info' %>
          <%= link_to '<i class="icon-pencil icon-white"></i> Edit'.html_safe, edit_book_path(book),:class => 'btn btn-primary' %>
          <% if book.users.length > 1 %>
            <%= link_to '<i class="icon-remove icon-white" ></i> Leave'.html_safe, revoke_access_path(book.user_authorship(current_user)), :method => :post,:class => 'btn btn-warning delete' %>
          <% else %>
            <%= link_to '<i class="icon-trash icon-white" ></i> Delete'.html_safe, book,method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger' %>
          <% end %>
          <%= link_to '<i class="icon-file icon-white" ></i> PDF'.html_safe,book_path(book, :format => "pdf"),:class => 'btn btn-inverse' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
