<!--
<div id="intro"><br/>
<div class="fltlft"><%= image_tag 'cloud.jpg', :height => 150 %></div>
<h3>Online Book Writing as Cloud Service</h3>
<h4>Please sign in or sign up to write your own book</h4>
<div class="clearfloat"> </div>
</div>-->

<h2>Your Books</h2>

<div class="rt"><%= link_to 'New Book', new_book_path %></div>
<div>
  <table style="text-align: left; width: 100%">
    <tr>
      <th>Title</th>
      <th>Abstract</th>
      <th>Authors</th>
      <th>Version</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>

    <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= raw truncate book.abstract, length: 80 %></td>
          <td><%= book.author_names.join ", " %></td>
          <td><%= book.version_num %></td>
          <td><%= "#{time_ago_in_words(book.updated_at)} ago" %></td>
          <td class="rt-book">
            <%= link_to 'Show', book %>
            <%= link_to 'Edit', edit_book_path(book) %>
            <% if book.users.length > 1 %>
                <%= link_to 'Leave', revoke_access_path(book.user_authorship(current_user)), :method => :post, :class => "delete" %>
            <% else %>
                <%= link_to 'Delete', book, method: :delete, data: {confirm: 'Are you sure?'}, :class => "delete" %>
            <% end %>
          </td>
        </tr>
    <% end %>

  </table>
</div>
