<div><%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, 'error') %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :original_updated_at %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.cktext_area :abstract, :ckeditor => { :toolbar => "bookAbstract", :width => 750 } %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.cktext_area :text, :ckeditor => { :toolbar => "bookContent", :width => 750 } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %></div>
