<div><%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <%= render partial: 'shared/flash_messages', flash: flash %>
  <% end %>

  <%= f.hidden_field :original_updated_at # updated_at time value, from the db, at the time when this form is displayed
  %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "input-block-level", :placeholder => "Your book title", :required => true %>
  </div>
  <div class="field">
    <%= f.label :abstract %>
    <%= f.cktext_area :abstract, :ckeditor => { :toolbar => "bookAbstract" } %>
  </div>
  <div class="field">
    <%= f.label :text %>
    <%= f.cktext_area :text, :ckeditor => { :toolbar => "bookContent" } %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-info btn-block btn-big" %>
  </div>
<% end %>
</div>
