<ol class="breadcrumb">
  <li><%= link_to 'Home ', root_path %></li>
  <li class="active">/ Edit</li>
</ol>
<div class="fltrt">
  <button type="button" class="btn btn-info"><i class="icon-book icon-white" ></i> <%= link_to 'Show Book', @book %></button>
</div><div class="clearfloat"></div>
<h2>Book: <%= @book.title %></h2>
<div class="row-fluid">
  <div class="span8">
    <div><%= render 'form' %></div>
  </div>
  <div class="span4">
    <% tree = @book.chapter_tree %>
    <% unless tree.length == 0 %>
        <h3>Table of contents</h3>
        <div class="version">
          <%= render 'tree', :tree => tree %>
        </div>
    <% end %>
    <h3>Authors</h3>
    <div class="version">
      <ul class="unstyled">
        <% @book.authorships.each do |a| %>
            <li><%= render 'shared/avatar', :hash => a.user.gravatar_hash, :name => a.user.name, :size => 15 %> <%= a.user.name %></li>
        <% end %>
      </ul>
      <button type="button" class="btn btn-small btn-primary"><i class="icon-user icon-white" ></i> <%= link_to 'Manage', edit_authorships_path(@book) %></button>
    </div>
    <div>
      <% unless @book.versions.length == 0 %>
          <h3>Previous Versions</h3>
          <div class="version">
            <ul class="unstyled">
              <% @book.versions.reverse_each do |v| %>
	              <% version_author = User.find(v.whodunnit.to_i) %>
                  <li class="hide-until-hover_outer-element"><%= Time.at(v.created_at).strftime("%d.%m.%y %H:%M") %> | <%= render 'shared/avatar', :hash => version_author.gravatar_hash, :name => version_author.name, :size => 15 %> <%= version_author.name %> <button type="button" class="btn btn-mini btn-primary hide-this-until-hover"><i class="icon-repeat icon-white" ></i> <%= link_to "Revert", revert_version_path(v), :method => :post %></button></li>
              <% end %>
            </ul></div>
      <% end %>
    </div><div class="clearfloat"></div>
    <br/>
  </div>
</div>

