<h2>Listing books</h2>
<%= yield %>
<div class="rt"><%= link_to 'New Book', new_book_path %></div>
<div><table style="text-align: left">
    <tr>
        <th>Title</th>
        <th>Abstract</th>
        <th>Authors</th>
        <th>Updated</th>
        <th>Created</th>
        <th>Version</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

<% @books.each do |book| %>
	<tr>
		<td><%= book.title %></td>
		<td><%= raw truncate book.abstract, length: 80 %></td>
		<td><%= book.author_names.join ", " %></td>
        <td><%= book.versions.length + 1 %></td>
        <td><%= book.updated_at %></td>
        <td><%= book.created_at %></td>
		<td class="rt-book"><%= link_to 'Show', book %></td>
		<td class="rt-book"><%= link_to 'Edit', edit_book_path(book) %></td>
		<td class="rt-book"><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>

</table>
</div>
