<!DOCTYPE html>
<html>
<head>
</head>
<body>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Abstract:</b><br/>
  <%= raw @book.abstract %>
</p>

<p>
  <b>Text:</b><br/>
  <%= raw @book.text %>
</p>

</body>