<ol class="breadcrumb">
  <li><%= link_to 'Home ', root_path %></li>
  <li class="active">/ Show</li>
</ol>
<div class="fltrt">
  <button type="button" class="btn btn-primary"><i class="icon-pencil icon-white" ></i> <%= link_to 'Edit Book', edit_book_path(@book) %></button>
  <button type="button" class="btn btn-info"><i class="icon-file icon-white" ></i> <%= link_to 'PDF', :action => 'show', :format => :pdf %></button>
</div> <div class="clearfloat"></div>

<h1><%= @book.title %></h1>
<p>by <%= @book.author_names.join ", " %></p>
<hr>


<h2>Abstract</h2>
<p><%= raw @book.abstract %></p>
<hr>

<h2>Content</h2>
<p><%= raw @book.text %></p>

