<%= render 'shared/breadcrumb', :page_name => "/ #{@book.title}" %>
<div class="fltrt">
  <% if Authorship.find_by_book_id_and_user_id(@book.id, current_user.id).can_edit_book %>
    <%= render 'shared/link_button',:icon =>'pencil',:link=> edit_book_path(@book),:text =>'Edit',:css=>'btn-primary' %>
  <% end %>
  <%= render 'shared/link_button',:icon =>'file',:link=> book_path(@book, :format => "pdf"),:text =>'Export to PDF',:css=>'btn-inverse' %>
</div> <div class="clearfloat"></div>

<h1><%= @book.title %></h1>
<p>by <%= @book.author_names.join ", " %></p>
<hr>


<h2>Abstract</h2>
<p><%= raw @book.abstract %></p>
<hr>

<h2>Content</h2>
<p><%= raw @book.text %></p>

