<!DOCTYPE html>
<html>
<head>
</head>
<body>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>User:</b>
  <%= @book.user_id %>
</p>

<p>
  <b>Text:</b><br/>
  <%= raw @book.text %>
</p>


</body>