<ol class="breadcrumb">
  <li><%= link_to 'Home ', root_path %></li>
  <li class="active">/ Show</li>
</ol>
<div class="fltrt">
  <button type="button" class="btn btn-primary"><%= link_to 'Edit Book', edit_book_path(@book) %></button>
  <button type="button" class="btn btn-info"><%= link_to 'PDF',:action => 'show', :format => :pdf %></button>
</div> <div class="clearfloat"></div>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Abstract:</b><br/>
  <%= raw @book.abstract %>
</p>

<p>
  <b>Text:</b><br/>
  <%= raw @book.text %>
</p>

