<!DOCTYPE html>
<html>
<head>
  <title>Bookwriting</title>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <header class="navbar navbar-fixed-top" id="pdf_link">
    <nav class="navbar-inner">
      <div class="container">
        <%= link_to "BookWriting", root_path , id: "logo" %>
        <ul class="nav pull-right">
        <li><%= render 'devise/menu/registration_items' %></li>
        <li><%= render  'devise/menu/login_items' %></li>
        </ul>
      </div>
    </nav>
  </header>
  <!--<div><%# link_to image_tag("book.jpg", :height => 50), root_path %> </div> -->

  <div id="main">
    <div class="content"><br>
      <%= yield %>
    <div id="footer">
        <small class="sensor">
          <a href="#">Rails Prototype</a>
          by David Uhlig and Katharina Bredfeldt
        </small>
        <!--<p><%= debug(params) if Rails.env.development? %> </p> -->
    </div>
    </div>
  </div>

</div><!-- end .container -->
</body>
</html>
