<!DOCTYPE html>
<html>
<head>
  <title>Bookwriting</title>
  <%= stylesheet_link_tag "application", "menu", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">
    <div id="logo">
      <%= image_tag "book.jpg", :height => 80 %>
    </div>
    <div class="nav">
       <ul>
       <li><%= render 'devise/menu/registration_items' %></li>
       <li><%= render  'devise/menu/login_items' %></li>
       </ul>
    </div><div class="clearfloat"> </div>
  </div> <!-- end .header -->

  <div class="main">
    <div class="section-titel">
      <h1>Welcome <span>to Collaborative Book Writing</span></h1>
    </div>
    <div class="content">
      <%= yield %>
      <!--<div class="section-border-thick"></div> -->
    </div><!-- end .content -->

  </div>  <!-- end .main -->

<<<<<<< HEAD
<%= debug(params) if Rails.env.development? %>

=======
</div> <!-- end .container -->
>>>>>>> origin/branch-layout
</body>
</html>
