<!DOCTYPE html>
<html>
<head>
  <title>Bookwriting</title>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <header class="navbar navbar-fixed-top" id="pdf_link">
    <nav class="navbar-inner">
      <div class="container">
        <%= link_to "BookWriting", root_path , id: "logo" %>
        <ul class="nav pull-right">
        <li><%= render 'devise/menu/registration_items' %></li>
        <li><%= render  'devise/menu/login_items' %></li>
        </ul>
      </div>
    </nav>
  </header>
  <!--<div><%# link_to image_tag("book.jpg", :height => 50), root_path %> </div> -->

  <main>
    <div class="content">
    <div class="section-titel">
      <!-- <h1>Welcome <span>to Collaborative Book Writing</span></h1> -->
    </div><br>

    <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
            <% end %>
    <% end %>
    <%= yield %>
    <footer>
        <small class="sensor">
          <a href="#">Rails Prototype</a>
          by Uhlig and Bredfeldt
        </small>
        <!--<p><%= debug(params) if Rails.env.development? %> </p> -->
    </footer>
    </div>
  </main>

</div><!-- end .container -->
</body>
</html>
